.cal-container {
    border: 3px solid gray; 
    background-color: lightgray;
    width: 20%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
}

#input-section {
    margin-top: 20px;
    display: flex;
}

#input-cal {
    display: inline;
    width: 98%;

}

.row-section {
    margin-top: 5px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content:space-around;
}

.buttons, .s-buttons {
    width: 24%;
    
}

 #numbers3 {
    align-self: flex-start;
    width: 75%;
}

.n-buttons {
    width: 32%;
}

@media only screen and (max-width: 720px) {
    body {
        display: flex;
        justify-content: center;
    }
    
    .cal-container {
        width: 80%; 
    }
}